a.popular-products-navbar {
    text-decoration: none;
    color: $secondaryColor;
    background: $primaryColor;
    padding: 5px 30px;
    border: 0;
    border-radius: 0px;
    transition: all 0.5s ease;
}

a.popular-products-navbar:hover {
    background:#cfd6df;
}


a.popular-products-navbar.active {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}


a.home-btn {
    text-decoration: none;
    background: $secondaryColor;
    color: white;
    padding: 10px 20px;
    margin: 20px auto;
    display: block;
    width: fit-content;
    border-radius: 5px;
}







// ---------------- Product card ------------------------

.product-menu {
    background: white;
    width: 50%;
    height: 100px;
    border-radius: 10px;
    position: absolute;
    right: -103px;
    top: 12px;
}